<div class="container-fluid">
    <h2 class="headingFont">{{UserList}}</h2>
    <div class="row">
        <div class="col-sm-10">
            <input type="text" name="" id="" class="form-control" placeholder="type to search">
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-info button-move button-blue-color" ng-click="init()" data-toggle="modal" data-target="#addNewUser">Add User</button>
        </div>
    </div>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{userFields.id}}</th>
                <th>{{userFields.firstName}}</th>
                <th>{{userFields.lastName}}</th>
                <th>{{userFields.email}}</th>
                <th>{{userFields.phone}}</th>
                <th>{{userFields.status.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>
                    <div class="toggle-btn" id="toggle-btn{{$index}}" ng-init="active = user.status" ng-class="active">
                        <!-- <div class="inner-circle" ng-click="toggleSwitch(user.status, $index)"></div> -->
                        <div class="inner-circle" ng-click="editDialog.open(user, 'toggle-btn'+$index)"></div>
                    </div>
                </td>
                <edit-user-dialog model="editDialog"></edit-user-dialog>
            </tr>
        </tbody>
    </table>

    <!-- The Modal -->
    <div class="modal" id="addNewUser">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add User</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form name="userForm">
                        <div class="form-distance">
                            <label for="firstName" class="label">{{userFields.firstName}}</label>
                            <input type="text" id="firstName" name="firstName" class="form-control inputWidth" placeholder="Enter first name" ng-model="newUser.firstName" required>
                        </div>
                        <div class="form-distance">
                            <label for="lastName" class="label">{{userFields.lastName}}</label>
                            <input type="text" id="lastName" name="lastName" class="form-control inputWidth" placeholder="Enter last name" ng-model="newUser.lastName" required>
                        </div>
                        <div class="form-distance">
                            <label for="email" class="label">{{userFields.email}}</label>
                            <input type="email" id="email" name="email" class="form-control inputWidth" placeholder="Enter email" ng-model="newUser.email" required>
                        </div>
                        <div class="form-distance">
                            <label for="phone" class="label">{{userFields.phoneNumber}}</label>
                            <input type="number" id="phone" name="phoneNumber" class="form-control inputWidth" ng-maxlength="maxLength" ng-minlength="minLength" placeholder="Enter phone number" ng-model="newUser.phone" number required>
                        </div>
                        <div class="form-distance">
                            <label for="Status" class="label">{{userFields.status.name}}</label>
                            <select id="Status" ng-init="newUser.status='active'" class="form-control inputWidth" ng-model="newUser.status">
                                <option value="active" selected="true">{{userFields.status.valueActive}}</option>
                                <option value="inactive">{{userFields.status.valueInactive}}</option>
                            </select>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn btn-outline-secondary button-gray-color" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info button-blue-color" data-dismiss="modal" ng-click="addToUserList(newUser)" ng-disabled="userForm.$invalid">Add</button>
                </div>

            </div>
        </div>
    </div>
</div>